<div class="search-box">
  <p><%= button_to "VIEW & SEARCH ALL GENES IN STUDY", search_all_outcome_tables_path, class:"", style: "width:289px;", 'data-no-turbolink' => true %></p>

<%= form_tag(search_input_outcome_tables_path, :method => "post", id: "search-form", 'data-no-turbolink' => true ) do %>            

<%
=begin %>
  <label>Select From Prominent Genes:</label>&nbsp;
     <%= select("genesearch", "genes_select", options_for_select(%w[TP53 KRAS APC], ""), 
     {:prompt => "Select Gene"}) %></p>
<%
=end %>

  <label>Enter one or more Genes separated by comma or space</label>
  <%= hidden_field_tag("input_search")%>
  <p><%= text_area_tag "genesearch[genes_text]", '', size: "38x3" %></p>
  <p><%= submit_tag "Search" %></p> 
<% end %>            
</div>