<h1>Samples information</h1>
<div style="text-align:center;">
DOWNLOAD: <%= link_to 'CSV', feature_samples_sendfile_path(filename: @filename) %>
</div>

<div class="feature_samples">
<table class="gene_selection" style="float:left;">
  <thead>
  <tr>						
  	<th class="primary_thead" colspan="<%= @table_array[0].length %>"><%= @metadata_filename.gsub('.txt','') %></th>	
  </tr>
  <tr>						
  	<th>Sample</th>
  	<th>Value</th>		
  </tr>
  </thead>
  <tbody>
  <% @table_array.each do |row| %>
  <tr>
  	<td><%= row[0] %></td>  	
    <td style="text-align:center"><%= row[1] %></td>    
  </tr>
  <% end %>
  </tbody>
</table>

<table class="gene_selection" style="float:right;">
  <thead>
  <tr>						
  	<th colspan="2" style="background-color:#f9fd7e">Meaning of Value</th>
  </tr>						

  <tr>						
  	<th style="background-color:#f9fd7e"><%= @metadata_headings[0] %></th>
  	<th style="background-color:#f9fd7e"><%= @metadata_headings[1] %></th>		
  </tr>
  </thead>
  
  <tbody>
  <% @hash_metadata.each_pair do |value, clin_params| %>
    <tr>
      <td style="text-align:center; vertical-align:top"><%= value %></td>
      <td>
      	<% clin_params.each do |cp| %>
          <%= cp %><br>
        <% end %>
      </td>
    </tr> 
  <% end %>
  </tbody>
</table>
</div>
