<h1>Systematic identification of colorectal cancer genes delineating clinical stage and metastasis</h1>

<% if flash[:notice] -%>
  <div id="notice"><strong><%= flash[:notice] %></strong></div>
<% end -%>


<table class="content-2cols" style="width:100%">
  <tr>  	 	
  	<td style="width:50%;">
  	  <p>Colorectal cancer is the third leading cause of cancer deaths in the United States.  
  	  The initial assessment of colorectal cancer involves clinical staging that takes into account the extent of primary tumor invasion (T), 
  	  determining the number of lymph nodes (N) with metastatic cancer and the identification of metastatic sites (M) in other organs.  
  	  Advanced clinical stage (III or IV) indicates metastatic cancer, either in regional lymph nodes or in distant organs.  
  	  Little is know about the identity of specific cancer genes that are associated with advanced clinical stage and metastasis.</p>

      <p>We compiled multiple genomic data types (mutations, copy number alterations, 
      	gene expression and methylation status) as well as clinical meta-data from <a href="http://cancergenome.nih.gov/‎"><strong>The Cancer Genome Atlas (TCGA)</strong></a>.   
      	Our analysis of multiple genomic features identifies a number of colorectal cancer genes associated with advanced clinical stage disease and metastasis.</p>
    </td>
    <td style="width:50%; background-color:#e7e7e7">
  	  <%= render partial: "search_form" %>    
  	</td> 
  </tr>
</table>

  <% n_status_row       = summary_table_array[0] %>
  <% cancer_type_row    = summary_table_array[1] %>
  <% clinicalstage_row  = summary_table_array[3] %>
  <% t_status_row       = summary_table_array[4] %>
  <% msi_status_row     = summary_table_array[5] %>
  <% clinicalstage_row  = summary_table_array[6] %>
   
<table class="hi-level-charts">
<tr>
  <td>
  	<div class="content-box"><h3><%= clinicalstage_row[0] %></h3><%= clinicalstage_row[2].gsub(/\A.*\//, '') %> Genes

  	  <table style="border-collapse:collapse; margin:0 auto;">
  	  	<tr>  	  	  	
  	  	  <td><%= button_to "View Genes", show_outcome_path(cancer_type: cancer_type, data_set: data_set, gene_set: gene_set, 
  	  	                                                    hi_lev_genomic: hi_lev_genomic, clinical_feature: clinicalstage_row[0]), class:"button" %></td>
          <td><%= button_to "View miR", show_outcome_path(cancer_type: cancer_type, data_set: data_set, mir_set: mir_set,
                                                            hi_lev_genomic: hi_lev_genomic, clinical_feature: clinicalstage_row[0]), class:"button" %></td>
  	  	</tr>
  	  </table>  	  	  
                                                                                                                                                      
      <%= link_to image_tag("tumorstage_2.png", height:"150px", alt:"ClinicalStage chart", title:"ClinicalStage chart"), 
          get_feature_samples_path(filename:'Y_COADREAD_2013-01-16_CancerGenes_Integrative_ClinicalStage.txt') %>
      
      <%= button_to "View Samples", get_feature_samples_path(filename:'Y_COADREAD_2013-01-16_CancerGenes_Integrative_ClinicalStage.txt'), class:"button" %>
      
  	</div>
  </td>

  <td>
  	<div class="content-box"><h3><%= t_status_row[0] %></h3><%= t_status_row[2].gsub(/\A.*\//, '') %> Genes
  		
  	  <table style="border-collapse:collapse; margin:0 auto;">
  	  	<tr>  	  	  	
  	  	  <td><%= button_to "View Genes", show_outcome_path(cancer_type: cancer_type, data_set: data_set, gene_set: gene_set,
                                                            hi_lev_genomic: hi_lev_genomic, clinical_feature: t_status_row[0]), class:"button" %></td>
  	  	  <td><%= button_to "View miR", show_outcome_path(cancer_type: cancer_type, data_set: data_set, mir_set: mir_set,
                                                            hi_lev_genomic: hi_lev_genomic, clinical_feature: t_status_row[0]), class:"button" %></td>
  	  	</tr>
  	  </table>
  	  
  	  <%= link_to image_tag("T_grade_2.png", height:"150px", alt:"T Status chart", title:"T Status chart"), 
          get_feature_samples_path(filename:'Y_COADREAD_2013-01-16_CancerGenes_Integrative_T-Status.txt') %> 
          
      <%= button_to "View Samples", get_feature_samples_path(filename:'Y_COADREAD_2013-01-16_CancerGenes_Integrative_T-Status.txt'), class:"button" %>
            	  		  	             
  	</div>
  </td>
    	  
  <td>
    <div class="content-box"><h3><%= n_status_row[0] %></h3><%= n_status_row[2].gsub(/\A.*\//, '') %> Genes
    	
      <table style="border-collapse:collapse; margin:0 auto;">
  	  	<tr>  	  	  	
  	  	  <td><%= button_to "View Genes", show_outcome_path(cancer_type: cancer_type, data_set: data_set, gene_set: gene_set,
                                                            hi_lev_genomic: hi_lev_genomic, clinical_feature: n_status_row[0]), class:"button" %> </td>
  	  	  <td><%= button_to "View miR", show_outcome_path(cancer_type: cancer_type, data_set: data_set, mir_set: mir_set,
                                                            hi_lev_genomic: hi_lev_genomic, clinical_feature: n_status_row[0]), class:"button" %></td>	  	  
  	  	</tr>
  	  </table>
    	  	  	
      <%= link_to image_tag("N_grade_2.png", height:"150px", alt:"N Status chart", title:"N Status chart"), 
          get_feature_samples_path(filename:'Y_COADREAD_2013-01-16_CancerGenes_Integrative_N-Status.txt') %> 
          
      <%= button_to "View Samples", get_feature_samples_path(filename:'Y_COADREAD_2013-01-16_CancerGenes_Integrative_N-Status.txt'), class:"button" %> 
            	        
  	</div>
  </td>
    	  
  <td>
    <div class="content-box"><h3><%= msi_status_row[0] %></h3><%= msi_status_row[2].gsub(/\A.*\//, '') %> Genes
    	
      <table style="border-collapse:collapse; margin:0 auto;">
  	  	<tr>  	  	  	
  	  	  <td><%= button_to "View Genes", show_outcome_path(cancer_type: cancer_type, data_set: data_set, gene_set: gene_set,
                                                            hi_lev_genomic: hi_lev_genomic, clinical_feature: msi_status_row[0]), class:"button" %></td>
  	  	  <td><%= button_to "View miR", show_outcome_path(cancer_type: cancer_type, data_set: data_set, mir_set: mir_set,
                                                            hi_lev_genomic: hi_lev_genomic, clinical_feature: msi_status_row[0]), class:"button" %></td>
  	  	</tr>
  	  </table>
    	
      <%= link_to image_tag("MSI_2.png", height:"150px", alt:"MSI Status chart", title:"MSI Status chart"), 
          get_feature_samples_path(filename:'Y_COADREAD_2013-01-16_CancerGenes_Integrative_MSI-Status.txt') %>
          
      <%= button_to "View Samples", get_feature_samples_path(filename:'Y_COADREAD_2013-01-16_CancerGenes_Integrative_MSI-Status.txt'), class:"button" %>
            
  	</div>
  </td>

</tr>
</table>


