// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.analysis_categories {
  
table.hi-level-charts {
  margin: 5px 0 0 -12px;
  border-collapse: collapse;
  width: 102.65%; 
  td {
    padding:0 2px;
    border:0;
    text-align:center;
    vertical-align:top;
    
    .content-box {
      border:1px solid #999;
      -webkit-border-radius: 7px;
      -moz-border-radius: 7px;
      -ms-border-radius: 7px;
      -o-border-radius: 7px;
      border-radius: 7px; 
      margin: 0 10px;
      -webkit-box-shadow:0 0 8px 1px #999;
      -moz-box-shadow:0 0 8px 1px #999;
      -ms-box-shadow:0 0 8px 1px #999;
      -o-box-shadow:0 0 8px 1px #999;
      box-shadow:0 0 8px 1px #999;
      padding-bottom:2px;
      
      h3 {
         font-size:1.2em;
         margin: 5px 0 2px;
      }
    }      
  }
}

.button{
  background:#4F81BD;
  color:white;
  border-style:outset;
  border-color:silver;
  margin:4px 1px 5px;
  padding:0;
  width:82px;
  font: normal .7em arial,sans-serif;
}
.button:hover {
  background:#990000;
  color:white;
}

.search-box {
  width:94%;
  text-align:center; 
  border: 1px solid #C1C1C1; 
  margin: 20px auto 0 auto; 
  padding:10px; 
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  border-radius: 10px;
  background-color:white;
}

div.feature_samples {
  overflow:hidden; 
  margin:1em auto; 
  width:45%;  
}
 
} /* /analysis_catagories */