/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require jquery-ui/core
 *= require jquery-ui/theme
 *= require dataTables/src/demo_table_jui
 *= require_tree .
 */

/* fix annoying horizontal jump! */
html {
  overflow-y: scroll;
}

body {
  /* Get rid of white border around browser window */
  margin: 0;
  padding: 0;
  background-color:#e9f1f8 !important;
  div, p, th, td, ul, ol, li, h1, h2, h3, h4, h5, a {
    font-family: 'Source Sans Pro', sans-serif !important; 
  }
  div, p, th, td, ul, ol, li {font-size: 1.05em !important;}

}

h1,h2,h3 {margin-top:0}

h1 {font-size: 1.55em; text-align:center;}
h2 {font-size: 1.35em;}
h3 {font-size: 1.15em;}
h4, h5 {font-size: 1.1em;}

img {
  border:0 !important;
}

a {
  color:#4F81BD;
  border:0;
  display:inline-block;
}
a:link, a:visited {
  text-decoration:none;
}
a:hover, a:active {
  color:#990000;
}

#container{   
  width:90%;
  min-width:600px;
  max-width:950px;
  margin:0 auto;
  background-color:white;
  border:1px solid #e0e0e0;
  padding-bottom:0;
} /* /#container */

/* Make new layout elements block elements in older browsers */
header, nav, aside, article, footer, section, figure, figcaption {
  display:block;
}

header {
  background-color:#8c1515;

  table.header_content {
    border-collapse:collapse;
    width:100%;
    
    td {
      vertical-align:middle; 
      text-align:center;
    }
    
    td.left_logo {
      width:90px;
      padding: 4px 0 0 4px;
            
      a:hover {
        background-color: #990000;
      }            
    }
    
   .left_logo img {
      background-color:#990000;
      border:none;
    }
    
    td.page_title {
      font: 25px 'Droid Sans', sans-serif !important; 
      color: #fff;
    } 

  } /* /header_content */    
} /* /header */

nav {
    border-bottom: 4px double;
    height:34px;
    padding:2px 0 0 0;

    div.buttons {
      text-align:left;
      overflow:hidden;
      background-color:#4f81bd;
    }

    div.buttons div {
      float:left;
      padding-right:2px; 
      background-color:white;
    }
        
    a {
      font: small-caps bold 1.1em/30px 'Droid Sans', sans-serif;
      text-align: center; 
      outline: none;
      text-decoration:none;
      padding: 1px 8px;
      border-top-left-radius: 6px; 
      border-top-right-radius: 6px; 
    }
    
    a:link, a:visited {
      color: #bdd7f7;
      background-color: #4f81bd;
      border:1px solid #4f81bd;
    }
    
    a:hover, a:active, a.currentpage {  
      color: #4f81bd !important;
      background-color: #bdd7f7 !important;
      border:1px solid #bdd7f7 !important;
    }
} /* end nav */


aside {}

article {      
  padding: 1em;
} /* /article */

footer {
  height:70px;
  padding:.5em 1em 1em;
  border-top: #e0e0e0 double 4px;
  
  table.footer-table {
    border-collapse:collapse;
    td {
      font-size:.9em;
      color: #999;
      vertical-align:top; 
      border-style:none;

      a:link {
        color: #4f81bd; 
        text-decoration:none;
      }
      a:hover { 
        background:#fff;
        color: #8c1515; 
      } 
    } 
  } /* end footer-table */ 
}

.big-text-box-rounded {
  border:1px solid #999;   
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  -ms-border-radius: 7px;
  -o-border-radius: 7px;
  border-radius: 7px;
  padding:1em;
  margin: 0 auto;
  width: auto;
  behavior: url("http://genomeportal.stanford.edu/tcga-crc/assets/PIE.php");
}

table.content-2cols {
  border-collapse:collapse;
  border:1px solid #C1C1C1; 
  margin: 1em auto;

  td { 
    vertical-align:top;
    padding:10px 25px 25px;
    border:1px solid #C1C1C1; 
  }

}

#notice {
  color: #000 !important;
  width:50%;
  border: 2px solid #999;
  padding: 1em;
  margin: 1em auto;
  background-color: #f0f0f0;
  font: bold .9em/1em sans-serif;
} /* /#notice */

.float-left {
  float:left;
}

.clear-both {
  /*border: 1px solid;*/
	clear: both;
	margin-bottom: -10px;
}

.break-long-string {  
  -ms-word-break: break-all;
  word-break: break-all;
  /* Non standard for webkit */
  word-break: break-word;
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  hyphens: auto;
  overflow-wrap: break-word;
}

.smaller {
  font-size: .85em;
  font-weight:none;
}

ol.small_roman {
  list-style-type: lower-roman;
  margin: -1em 0.5em;
  li {
    font-size: 1em !important;
    margin-top: -2px;
  }
}

ul.funding {
  float:right;
  margin:3px -4px 0 0;

  li {
    display:block;
    float:left;
    padding:0 3px;
     
    img {
      height:50px;  
    }
     
  }  
  
}

