// Place all the styles related to the OutcomeSummaries controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.outcome_summaries {

  #maincontent {      
    margin: -1em 1em 1em;
    padding: 1em;
  } /* /#maincontent */

  .genomic-nav {
    a {
      font-weight: bold;
      font-size: 1em;  
    }

    a:link {
      color: #0f0f0f;
      text-decoration:none;
    }

    a:visited {
      color: #777;
      text-decoration:none;
    }

    a:hover, a:active {
      color: #777;
      background-color: #fff;
      text-decoration:underline;
    }  
  }
  a:hover {
    color:#990000;
    background-color:#fff;
  }
  h1 {
    font-size: 1.5em;
    margin:1px 0;
    text-align:left;
  }
  
  table.summary-nav {
    width:100%; 
    border:none; 
    margin-bottom:0; 
  }
  
  .summary-nav td {
    border:none;
  }

  table.outcome {
    table-layout:fixed;
    width: 100% !important;
    empty-cells: show;
    border-collapse: collapse;
    margin: 0 auto; 
    
    /* Table header cells */ 
    th { 
  /*     background-color: #4f81bd; 
       color: white; */
    } 
    
    td { 
      text-align: center;
    } 

    th, td { 
      border-width:1px;
      border-color:#c0c0c0;
      border-style: none dotted none; 
      padding: 0 5px;
    } 
    /* Give even and odd-numbered rows background color */ 
    /*tr:nth-child(odd) { 
      background-color: #;
    }
    
    tr:nth-child(even) { 
      background-color: #;
    }*/ 

    /* Align content in 1, 8, 9 cells to left */ 
    td:nth-child(1), td:nth-child(8), td:nth-child(9) { 
      text-align: left;
    }

    /* Highlight table row on hover */ 
    tr:hover, td.sorting_1:hover { 
      background-color:#f9fd7e; 
      cursor:default;
    }  
  } /* end table.outcome */

}
