// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
  
table.elastic-net {
  width:100%;
  margin: 0 auto;
  
  th {font-size:1.1em !important;}
  
  th.round-border {
    border: 1px solid black;
    -webkit-border-radius: 70px/30px; /*slope all corners*/
    -moz-border-radius: 70px/30px; /*slope all corners*/
    -ms-border-radius: 70px/30px; /*slope all corners*/
    -o-border-radius: 70px/30px; /*slope all corners*/
    border-radius: 70px/30px; /*slope all corners*/
    padding:4px 0;
    width:120px;
  }
  
  td div.dash {
    width:50%;
    height:100%;
    border-right:1px dashed grey;
  }
}

table.elastic-net-inner {
  border-collapse: collapse;
  width:100%;
  td {
    padding: 8px; 
    text-align:center;
    font-style:italic;
    font-weight:bold;
    font-size:.9em !important;  
  }
  td.box-border {
    border: 1px solid black;
  }
}

table.gene_selection {
  border-collapse:collapse;
  min-width:30%;  
  margin:0 auto;
  td, th {
    border:1px solid #999;
    padding:2px 10px;
  }
  th { 
    background-color: #e5e5e5;
  }
  th.primary_thead {
    font-size:1.25em !important;
  }
}

ol li a {font-weight:bold}

img.overview { 
  width:933px;  
}

img.interpretation {
  width:925px;
}

img.analysis-pipeline {
  width:925px;
}
  

