<h1>About Us</h1>

<div class="big-text-box-rounded">
<p>Patrick Flaherty (PF), HoJoon Lee (HJL) and Hanlee P Ji (HPJ) designed the study.</p>
<p>HJL and PF conducted the analysis.</p>
<p>HPJ supervised and coordinated the overall study.</p>

<p>Jennifer Palm and Sue Grimes provided support for the web implementation</p>

<p>This work was supported by the following grants from the NIH: 
	P01HG000205 to PF and HPJ; 
	1U01CA15192001-A1 to HJL and HPJ; 
	1U01CA176299 to HPJ.  
	In addition, HPJ was supported by a Research Scholar Grant, RSG-13-297-01-TBG from the American Cancer Society, 
	the Doris Duke Clinical Foundation, the Wang Family Foundation and the Howard Hughes Medical Foundation.</p>

</div>
