<h1>Analysis Pipeline</h1>

<div style=""><%= image_tag("analysis-pipeline.png", class:"analysis-pipeline", alt:"analysis pipeline") %></div>
<!--
<div class="big-text-box-rounded">
<table class="elastic-net" border="0">
  <tr>
  	<td rowspan="2" style="vertical-align: top">

      <table class="elastic-net-inner">
        <tr>
  	      <td class="box-border">Obtain Tier 3 Data<td>&raquo;</td></span></td>
        </tr>
        <tr>
  	      <td style="height:1px;"><div class="dash">&nbsp;</div></td>
        </tr>
        <tr>
  	      <td class="box-border">Filter Samples<td>&raquo;</td></span></td>
        </tr>
        <tr>
  	      <td style="height:32px;"><div class="dash">&nbsp;</div></td>
        </tr>
        <tr>
  	      <td class="box-border">Integrate genomic data<td>&raquo;</td></span></td>
        </tr>
        <tr>
  	      <td style="padding:0;height:24px;"><div class="dash">&nbsp;</div></td>
        </tr>
        <tr>
  	      <td class="box-border">Filter features & impute missing data<td>&raquo;</td></span></td>
        </tr>
        <tr>
  	      <td style="padding:0;height:24px;"><div class="dash">&nbsp;</div></td>
        </tr>
        <tr>
  	      <td class="box-border">Obtain Clinical Data<td>&raquo;</td></span></td>
        </tr>
        <tr>
  	      <td style="padding:0;height:10px;"><div class="dash">&nbsp;</div></td>
        </tr>
        <tr>
  	      <td class="box-border">Identify genetic markers using regularized regression<td>&raquo;</td></span></td>
        </tr>
      </table>
      
    </td>
  	<th class="round-border">Copy Number</th>
  	<th class="round-border">Mutations</th>
  	<th class="round-border">Methylation</th>
  	<th class="round-border">mRNA-Array</th>
  	<th class="round-border">mRNA-Seq</th>
  </tr>
  <tr>
  	<td colspan="5" style="text-align:right;"><%= image_tag("elastic-net-analysis_868.png", style:"margin-top:0;margin-left:2px", width:"700px", alt:"Elastic-net Analysis", title:"Elastic-net Analysis") %></td>
  </tr>
</table> <!--/table elastic-net -->	

</div> <!-- /big text box -->
