<h1>Data Information</h1>

<div class="big-text-box-rounded" style="text-align:center;">
  <strong><%= link_to 'DOWNLOAD COADREAD MATRICES', send_zip_file_path(filename: 'Matrix.zip') %> [zip] </strong><br>
  <br>
  <strong>How to read filename:</strong><br>
<%= image_tag("reading_filename.png", alt:"How to read filename", style:"border:1px solid;padding:10px; width:60%;") %>
</div>



