<h1>Gene File</h1>
<div style="text-align:center;">
DOWNLOAD: <%= link_to 'CSV', gene_selection_sendfile_path(filename: @filename) %>
</div>

<% theads = @table_array.shift %>
<table class="gene_selection">
  <thead>
  <tr>						
  	<th class="primary_thead" colspan="<%= @table_array[0].length %>"><%= @filename.gsub('_', ' ').gsub('.txt', '')%></th>	
  </tr>
  <tr>
  	<% theads.each do |heading1| %>
  	<th style="padding:2px"><%= heading1 %></th>
  	<% end %>
  </tr>
  </thead>
  <tbody>
  <% @table_array.each do |row| %>
  <tr>
  	<% row.each do |item| %>
    <td><%= item %></td>
    <% end %>
  </tr>
  <% end %>
  </tbody>
</table>
