<h1>Gene Selection</h1>

<% if flash[:notice] -%>
  <div id="notice"><strong><%= flash[:notice] %></strong></div>
<% end -%>
 
<ol>
<li>COSMIC cancer genes: to date, <%= link_to "484 genes", gene_selection_path(filename:'484_CancerGenes.txt') %> were defined as cancer genes according to Catalogue of Somatic Mutations in Cancer (COSMIC).
	The list of genes, cancer_gene_ census.tsv, was downloaded from their website <%= link_to "ftp://ftp.sanger.ac.uk/pub/CGP/cosmic/data_ export/", "ftp://ftp.sanger.ac.uk/pub/CGP/cosmic/data_ export", target:"blank" %></li>
<li><%= link_to "TCGA cancer genes", gene_selection_path(filename:'CancerGenes_COADREAD.txt') %>: we added the list of genes that associated with tumor aggressiveness in TCGA colorectal cancer paper</li>
  <ol style="list-style-type:lower-roman">	
	<li><%= link_to "Significantly mutated genes", gene_selection_path(filename:'Mutation.txt') %>: top 13 mutated genes in hypermutated samples and top 19 mutated genes in non-hypermutated samples from TCGA supplementary table 3</li>
	<li><%= link_to "Copy number changed genes", gene_selection_path(filename:'SCNA.txt') %>: the genes in peak (by supplementary table4) of significant focal amplication/deletion from TCGA supplementary table 11</li>
	<li><%= link_to "Expression signatures", gene_selection_path(filename:'GeneExp.txt') %>: top 30 genes that have expression signature associate with tumor aggressiveness (TCGA Figure 5b)</li>
	<li><%= link_to "Methylation signatures", gene_selection_path(filename:'Methyl.txt') %>: top 344 genes with prove that has the highest compound p values (TCGA supplementary table 11)</li>
  </ol>
<li><%= link_to "20 known target genes", gene_selection_path(filename:'20_MSI_genes.txt') %> for microsatellite Instability: Our supplementary table 1 shows the list of 20 genes including TGFBR2 and ACVR2A.</li>
</ol>

<div style="margin-left:20px; font-weight:bold; font-style: italic;">Collectively 1,085 genes were included in our study.</div>
