<h1>Elastic-net Interpretation</h1>
<div style=""><%= image_tag("interpretation.png", class:"interpretation", alt:"elastic-net interpretation") %></div>
<p>
Each clinical parameter has own unique distribution of genomic signatures (Figure A). 
Copy number alteration features were most common in N status while methylation features were most common in the prediction of 
T status. Mutation was relatively common feature for MSI status compared to other clinical parameters. 
Inverse association is dominant in clinical stage and T status while direct association is dominant in N status and MSI (Figure B).
</p>
