nav {        
  a {      
    padding: 1px 3px;
  }    
} 

.analysis_categories {  
  table.hi-level-charts {
  	margin-left:-6px;   	
  	width:101.5%; 
    td {
      padding:0; 
          
      .content-box {        
        margin: 0 6px;
      }
      
    } 
  } 
  
  .button{
  	margin-right: 2px;
  	margin-left: 2px;
    width: 78px;
    font-size:11px;
  }    
}

img.overview { 
  width:885px;  
}

img.interpretation {
  width:879px;
}

img.analysis-pipeline {
  width:879px;
  margin-bottom:10px;
}

div.feature_samples {
  overflow:hidden; 
  margin:1em auto; 
  width:50% !important;  
} 
