<h1>Listing outcome_summaries</h1>

<table>
  <tr>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @outcome_summaries.each do |outcome_summary| %>
  <tr>
    <td><%= link_to 'Show', outcome_summary %></td>
    <td><%= link_to 'Edit', edit_outcome_summary_path(outcome_summary) %></td>
    <td><%= link_to 'Destroy', outcome_summary, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Outcome summary', new_outcome_summary_path %>
