
<div style="display:inline;float:right;text-align:right;">
<% genomic = hi_lev_genomic if hi_lev_genomic == "Integrative" %>
DOWNLOAD: <%= link_to 'CSV', send_file_path(file_type: 'outcome_file', cancer_type:cancer_type, data_set:data_set, 
                                            gene_set:gene_set, mir_set: mir_set, genomic:genomic, clinical_feature:clinical_feature) %>
</div>

<% if genomic_for_heading %>
<h1>Results Summary based on <%= genomic_for_heading %></h1>
<% else %>
<h1>Results Summary based on Integrative Genomics</h1>
<% end %>

<h2 style="margin:0;">Clinical feature: <%= clinical_feature %></h2>

<% if mir_set && outcome_table_array[1].blank? %><div id="notice" style="font-style: italic">No data currently available, Genomic Signature links may provide additional data</div><% end %>
<% if flash[:notice] -%>
  <div id="notice"><strong><%= flash[:notice] %></strong></div>
<% end -%>

<table class="summary-nav">
<tr>

<td>
<div class="genomic-nav">
<% if hi_lev_genomic == 'Integrative' %>
  View Elastic-net Results by Separate Genomic Signature: &nbsp;|&nbsp;
  <% genomic_headers.each do |genomic| %>
    <%= link_to genomic, show_outcome_path(cancer_type: cancer_type, data_set: data_set, gene_set: gene_set, mir_set: mir_set,                                    
                                           hi_lev_genomic: 'Integrative Genomic', genomic: 'Integrative'+genomic, 
                                           genomic_for_heading: genomic, clinical_feature: clinical_feature), 'data-no-turbolink' => true %>&nbsp;|&nbsp;
  <% end %>
<% end %>                                               
</div>
</td>

<td style="text-align:right;">
<% if hi_lev_genomic == 'Integrative Genomic'%>
  <%= link_to 'Back', show_outcome_path(cancer_type: cancer_type, data_set: data_set, gene_set: gene_set, mir_set: mir_set,
                                        hi_lev_genomic: 'Integrative', clinical_feature: clinical_feature), 'data-no-turbolink' => true %> 
<% else %> 
  <%= link_to 'Back', root_path %>                                            
<% end %>
</td>

</tr>
</table>

<% primary_theads = outcome_table_array.shift %>
<% primary_theads.pop(4) %>
<table class="outcome" id="outcome_summary">
  <thead>							
  <tr>
  	<% primary_theads.each do |heading1| %>
  	<th style="padding:2px"><%= heading1 %></th>
  	<% end %>
  </tr>
  </thead>
  <tbody>
  <% outcome_table_array.each do |row| %>
  <tr>
    <td><%= row[0] %></td>
    <td style="font-style:italic;"><%= row[1] %></td>
    <td><%= row[2] %></td>
    <td><%= row[3] %></td>
    <td><%= raw to_arrow(row[4]) %></td>
    <td><%= raw to_arrow(row[5]) %></td>
    <td><%= raw to_arrow(row[6]) %></td>
    <td style="text-align:center"><%= raw to_arrow(row[7]) %></td>
    <td class="break-long-string"><%= raw row[8].gsub(',', ',<br>') %></td>
    <td><%= row[9] %></td>
  </tr>
  <% end %>
  </tbody>
</table>





